# Agenda
* Conditional statements
* List
* Tuple
* Dictionary
* Set
* Functions
* Loops

### Conditional Statements
* if
* if-else
* if-elif-else

In [ ]:
# if
num = int(input("Enter a number"))
print("The number is",num)
if (num>0):
    print("The number is greater than zero") # True statement
    print("This is if block")
    print("End of if block")
print("This line is out of if block")

In [ ]:
# if-else
num = int(input("Enter a number"))
print("The number is",num)
if (num>0):
    print("The number is greater than zero") # True statement
    print("This is if block")
    print("End of if block")
else:
    print("The number is less than zero")
    print("This is else block")
    print("End of else block")
print("This line is out of if-else block")

In [ ]:
# if-elif-else
num = int(input("Enter a number"))
print("The number is",num)
if (num>0):
    print("The number is greater than zero") # True statement
    print("This is if block")
    print("End of if block")
elif(num<0):
    print("The number is less than zero")
    print("This is elif block")
    print("End of elif block")
else:
    print("The number is equal to zero")
    print("This is else block")
    print("End of else block")
print("This line is out of if-elif-else block")

In [ ]:
# Q) Write a program to check the given number is divisible by 2 or 3 or both
num=int(input("Enter a number"))
print("the number to divide is: ", num)
if(num%2==0 and num%3==0): # == equals
    print("Divisbile by both")
elif(num%2==0):
    print("Divisible by by 2")
elif(num%3==0):
    print("Divisble by 3")
else:
    print("Not divisible by both")

## List
* ordered heterogenous data which indexed
* mutuble
* operations
* []

In [ ]:
list1 = [34,56.3,True,'Hai',45]
list1

In [ ]:
type(list1)

In [ ]:
list1.index(34)

In [ ]:
len(list1)

In [ ]:
list1[3]

In [ ]:
list1[2]

In [ ]:
#Operations-> insert, delete and update

In [ ]:
list1

In [ ]:
# Insert object before index=>position, element
list1.insert(3,False)

In [ ]:
list1

In [ ]:
#append=>Append object to the end of the list
list1.append(40)

In [ ]:
list1

In [ ]:
#extend=>Extend list by appending elements from the iterable
list1.extend([100,200,300])
list1

In [ ]:
#Updation
list1.index(100)

In [ ]:
list1[6] = 'Thirty'
list1

In [ ]:
list1[1] = 55
list1

In [ ]:
list1.insert(2,10)
list1

In [ ]:
pwd # present working directory

In [ ]:
# delete-> pop,del,remove,clear

In [ ]:
#pop->Remove and return item at index (default last).
list1.pop()

In [ ]:
list1

In [ ]:
list1.pop(4) #position

In [ ]:
list1

In [ ]:
#remove->Remove first occurrence of value.
list1.remove(45)

In [ ]:
list1

In [ ]:
# del-> deletes the element at a specific position and delete the entire list
del list1[4]

In [ ]:
list1

In [ ]:
del list1

In [ ]:
list1

In [ ]:
list2 = [3,2,5,8,1,9]
list2

In [ ]:
# clear -> clear all the elements of the list
list2.clear()

In [ ]:
list2

In [ ]:
list3 =[34, 55, 10, True, False, 'Hai', 45, 'Thirty', 40, 100, 200, 300, 100, 200]
list3

In [ ]:
del list3[2:4] # delete multiple values use slicing to delete it

In [ ]:
list3

Q1) display 45, 'Thirty', 40, 100
Q2) display reverse of the list
Q3) Display alternate values
Q4) Display last 5 values

In [ ]:
list3[4:8]

In [ ]:
list3.reverse()

In [ ]:
list3

In [ ]:
list3[::-1]

In [ ]:
list3[::2]

In [ ]:
list3

In [ ]:
list3[7:]

In [ ]:
list3[-5:]

In [ ]:
# Nested List->a list enclosed within a list
list5 = [1,2,3,4,5]
list5

In [ ]:
p = [11,33,55]
p

In [ ]:
list5.insert(3,p)

In [ ]:
list5

In [ ]:
list5[3]

In [ ]:
list5[3][0]

In [ ]:
list5.pop(3)

In [ ]:
list5

In [ ]:
del list5[3][0]

In [ ]:
list5

## Tuples
* elements, heterogeneous 
* immutable 
* ()
* marksheets

In [ ]:
t1 = (4,3,'Hai','7.8',True,3)
t1

In [ ]:
type(t1)

In [ ]:
t1.count(3)

In [ ]:
t1.index(True)

In [ ]:
t1[2:]

## Dictionary
* key/value pairs, hetergenous,unique key, useful info
* {} , ':' -> key/value pair

In [1]:
d1 = {1:'one',2:'Two',3:'Three',4:['four','Four','FOUR']}
d1

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR']}

In [2]:
d2 = {'Name':'Deepa','age':33,'Qualification':'ME'}
d2

{'Name': 'Deepa', 'age': 33, 'Qualification': 'ME'}

In [3]:
d1.keys()

dict_keys([1, 2, 3, 4])

In [4]:
d1.values()

dict_values(['one', 'Two', 'Three', ['four', 'Four', 'FOUR']])

In [5]:
d1.items()

dict_items([(1, 'one'), (2, 'Two'), (3, 'Three'), (4, ['four', 'Four', 'FOUR'])])

In [6]:
d1[4[1]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-6-7498b340bb0a>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  d1[4[1]]

TypeError: 'int' object is not subscriptable

In [10]:
d2['age']

33

In [11]:
d2['Qualification']

'ME'

In [12]:
role = input("Enter your designation")
role

Enter your designation

''

In [13]:
d2['Role'] = role  #adding new item 
d2

{'Name': 'Deepa', 'age': 33, 'Qualification': 'ME', 'Role': ''}

In [14]:
d3 = {'name':input("Enter your name")}
d3

Enter your name

{'name': ''}

In [15]:
d3

{'name': ''}

In [16]:
d3['name'] = 'Sakthi'
d3

{'name': 'Sakthi'}

In [17]:
d1

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR']}

In [18]:
d1[5] = input("Enter the value")
d1

Enter the value

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR'], 5: ''}

In [19]:
d1[4]

['four', 'Four', 'FOUR']

In [20]:
d1[4][1]

'Four'

In [21]:
# Nested Dictionary
d2

{'Name': 'Deepa', 'age': 33, 'Qualification': 'ME', 'Role': ''}

In [22]:
d2['Role'] = {1:'Assistant Professor',2:'Assistant Professor(senior grade)',3:('Data Scientist','Senior Grade(DS)'),4:'LEAD SME'}
d2

{'Name': 'Deepa',
 'age': 33,
 'Qualification': 'ME',
 'Role': {1: 'Assistant Professor',
  2: 'Assistant Professor(senior grade)',
  3: ('Data Scientist', 'Senior Grade(DS)'),
  4: 'LEAD SME'}}

In [23]:
d2["Role"]

{1: 'Assistant Professor',
 2: 'Assistant Professor(senior grade)',
 3: ('Data Scientist', 'Senior Grade(DS)'),
 4: 'LEAD SME'}

In [24]:
d2['Role'][3][0]

'Data Scientist'

In [25]:
d1

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR'], 5: ''}

In [26]:
d2

{'Name': 'Deepa',
 'age': 33,
 'Qualification': 'ME',
 'Role': {1: 'Assistant Professor',
  2: 'Assistant Professor(senior grade)',
  3: ('Data Scientist', 'Senior Grade(DS)'),
  4: 'LEAD SME'}}

In [27]:
d2['d1'] = d1
d2

{'Name': 'Deepa',
 'age': 33,
 'Qualification': 'ME',
 'Role': {1: 'Assistant Professor',
  2: 'Assistant Professor(senior grade)',
  3: ('Data Scientist', 'Senior Grade(DS)'),
  4: 'LEAD SME'},
 'd1': {1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR'], 5: ''}}

In [28]:
d1

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR'], 5: ''}

In [29]:
d1.pop(5)

''

In [30]:
d1

{1: 'one', 2: 'Two', 3: 'Three', 4: ['four', 'Four', 'FOUR']}

In [31]:
d1.clear()
d1

{}

In [32]:
d2.get('Role') # gets value for the key

{1: 'Assistant Professor',
 2: 'Assistant Professor(senior grade)',
 3: ('Data Scientist', 'Senior Grade(DS)'),
 4: 'LEAD SME'}

In [33]:
d2.values()

dict_values(['Deepa', 33, 'ME', {1: 'Assistant Professor', 2: 'Assistant Professor(senior grade)', 3: ('Data Scientist', 'Senior Grade(DS)'), 4: 'LEAD SME'}, {}])

In [34]:
d1

{}

In [35]:
d2

{'Name': 'Deepa',
 'age': 33,
 'Qualification': 'ME',
 'Role': {1: 'Assistant Professor',
  2: 'Assistant Professor(senior grade)',
  3: ('Data Scientist', 'Senior Grade(DS)'),
  4: 'LEAD SME'},
 'd1': {}}

In [36]:
d1

{}

In [37]:
#update Update D from dict
d1.update({5:'Five'})
d1

{5: 'Five'}

In [38]:
d1.update(d2)

In [39]:
d1

{5: 'Five',
 'Name': 'Deepa',
 'age': 33,
 'Qualification': 'ME',
 'Role': {1: 'Assistant Professor',
  2: 'Assistant Professor(senior grade)',
  3: ('Data Scientist', 'Senior Grade(DS)'),
  4: 'LEAD SME'},
 'd1': {...}}

# Sets
* unordered collection of unique elements,  {}

In [ ]:
s1 = {1,2,3,'Hai','hello',3,3,3}
s1

In [ ]:
help('set')

In [ ]:
type(s1)

In [ ]:
s1.add(4)
s1

In [ ]:
s1.add(3)
s1

In [ ]:
s2 = {1,2,3,6,7,3,4}
s2

In [ ]:
s2.union(s1)

In [ ]:
s2.intersection(s1)

In [ ]:
s2.update(s1)

In [ ]:
s2

In [ ]:
s2.remove(6)
s2

In [ ]:
s2.pop() #Remove and return an arbitrary set element

In [ ]:
s2

In [ ]:
s1

In [ ]:
s2

In [ ]:
s2.difference(s1)

In [ ]:
s1.difference(s2)

# Loops
* while loop
* for loop

In [ ]:
#while loop
#intialization
#condition
 #True-> body of the loop
 #False-> comes out of the loop

In [ ]:
x=1 #intialization
while(x<=10): #condition
    print("I am at step",x) #True-> body of the loop, #False-> comes out of the loop
    x=x+1
print("Reached the destination")

In [ ]:
# Muliples of 2 using while loop
print("Multiplication Table 2")
i = 1
while(i<=10):
    print(i,"*2=",i*2)
    i=i+1
print

In [ ]:

i=2
while(i<=20):
    print(i)
    i=i+2

In [ ]:
# for loop => start,stop,step
fruits = ('apple','orange','kiwi')
for i in fruits:
    print(i)

In [ ]:
name ='Deepa'
for i in name:
    print(i)

In [ ]:
for i in range(5): # stop(E)
    print(i)

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
for i in range(1,11):
    print(i,"*2=",i*2)

In [ ]:
for i in range(1,11):
    print(i,"*2=",i*2)

In [ ]:
for i in range(2,21,2):
    print(i)

In [ ]:
for i in range(5,51,5):
    print(i)

In [ ]:
for i in range(10):
    print(i)
    if(i==5):
        input("Enter values")

In [ ]:
for i in range(10):
    print(i)
    if(i==5):
        x=input("Enter values")
        print("value1=",x)
    if(i==9):
        y=input("Enter 2nd value")
        print("value2=",y)

# Functions
* code reusability, decompose

In [ ]:
def add(x,y):
    res= x+y
    print(res)
add(5,4)

In [ ]:
def add(x,y):
    res= x+y
    return res
res = add(5,4)
print(res)

In [ ]:
# Function to find area of a rectangle
def rect(b,h):
    area= 0.5 * b * h
    return area
ar = rect(5,10)
print("AREA=",ar)

In [ ]:
# Find the volume of the cubhoid

In [ ]:
def rect(b,h):
    area=2*  b * h
    return area
ar = rect(5,10)
print("AREA=",ar)